/* About.rc: About dialog window
 * Copyright 2015, 2016, 2019 Vincent Damewood
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "windows.h"
#include "Id.h"

ABOUT_DIALOG DIALOG DISCARDABLE  0, 0, 240, 110
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About Siliko"
FONT 8, "MS Sans Serif"

BEGIN
	CTEXT
		"Siliko is a simple math parser.",
		-1,
		8,8,220,8
	CTEXT
		"The Siliko library is licensed under the terms of the GNU Lesser General Public License, version 3 or later as released by the Free Software Foundataion. For more information, see the file LGPL-3.0.txt.",
		-1,
		8,24,220,24
	CTEXT
		"This GUI frontend is licensed under the terms of the GNU General Public License, version 3 or later as released by the Free Software Foundation. See the file GPL-3.0.txt for details.",
		-1,
		8,56,220,24
	DEFPUSHBUTTON
		"&OK",
		IDOK,
		95,88,48,14
END
