[Desktop Entry]
Encoding=UTF-8
Name=Silikujo
Comment=Math parser and calculator
Type=Application
Exec=Silikujo
Icon=siliko
Terminal=false
Categories=GTK;Utility
